@media screen and (max-width: 760px) {

    header {
        flex-direction: column;
    }

    #title {
        margin-top: 20px;
    }

    h1 {
        display: inline;
    }

    main {
        flex-direction: column;
    }

    article {
        margin-top: 20px;
    }

    img {
        max-width: 100%;
    }

    form {
        max-width: 70%;
    }
}